## 2.1

In [3]:
x = 2
y = 3
#a
print('x = ', x)

x =  2

In [6]:
#b 
print('Value of', x, '+', x, 'is', (x + x))

Value of 2 + 2 is 4

In [7]:
#c
print('x = ')

x =

In [8]:
#d 
print((x + y), 'x = ', (y + x))

5 x =  5

## 2.2

In [13]:
# add int
rating = int(input('Enter an integer rating between 1 and 10')

## 2.3

In [15]:
grade = 91

if grade >= 90:
    print('Congratulations! your grade of', grade, 'earns you an A in this course.')

Congratulations! your grade of 91 earns you an A in this course.

## 2.4

In [16]:
27.5 + 2, 27.5 - 2, 27.5 * 2, 27.5/2, 27.5//2, 27.5 ** 2

(29.5, 25.5, 55.0, 13.75, 13.0, 756.25)

## 2.5

In [22]:
pi = 3.14159
radius = 2
print('diameter =',  2 * radius)
print('circumference =', 2 * pi * radius)
print('area =', pi * radius ** 2)

diameter = 4
circumference = 12.56636
area = 12.56636

In [56]:
pi = 3.14159
radius = 2
circumference = 2*pi*radius
area = pi*radius**2
print('diameter is =', 2*radius)
print(f'circumference is {circumference:,.2f}')
print(f'area is {area:,.2f}')

diameter is = 4
circumference is 12.57
area is 12.57

## 2.6

In [32]:
x = 8
if x % 2 == 0:
    print(x, 'is even')
else:
    print(x, 'is odd')

8 is even

In [34]:
nums = [12, 7, 9, 16,0]
for number in nums:
    if number % 2 == 0:
        print(number, 'is even')
    else:
        print(number, 'is odd')

12 is even
7 is odd
9 is odd
16 is even
0 is even

## 2.7

In [41]:
num_1 = 1024
num_2 = 2
if num_1 % 4 == 0:
    print(num_1, 'is multiple of 4')
if num_2 % 10 == 0:
    print(num_2, 'is multiple of 10')
else:
    print(num_2, 'is not a multiple of 10')

1024 is multiple of 4
2 is not a multiple of 10

## 2.8

In [45]:
num_str = 'number'
sqr_str = 'square'
cube_str = 'cube'
print(f'{num_str:>10}{sqr_str:>10}{cube_str:>10}')
for nums in range(6):
    print(f'{nums:>10}{nums ** 2:>10}{nums ** 3:>10}')

    number    square      cube
         0         0         0
         1         1         1
         2         4         8
         3         9        27
         4        16        64
         5        25       125

In [53]:
for nums in range(1, 12, 3):
    print(nums)

1
4
7
10

## 2.9

In [54]:
ord('D')

68

## 2.10

In [73]:
nums_1 = int(input('Enter first integer'))
nums_2 = int(input('Enter second integer'))
nums_3 = int(input('Enter third integer'))
total = nums_1 + nums_2 + nums_3
average = total/3
product = nums_1 * nums_2 * nums_3
smallest = min(nums_1, nums_2, nums_3)
largest = max(nums_1, nums_2, nums_3)
print(f'Total is:{total}')
print(f'Average is:{average}')
print(f'Product of all the numbers are:{product}')
print(f'Smallest number is:{smallest}')
print(f'Largest number is:{largest}')

Total is:18
Average is:6.0
Product of all the numbers are:192
Smallest number is:4
Largest number is:8

## 2.11

In [67]:
#42339
number = int(input('Enter five digit number'))
print(f'{number//10000%10:^3}{number//1000%10:^3}{number//100%10:^3}{number//10%10:^3}{number//1%10:^3}')

 4  2  3  3  9

In [65]:
num = int(input('Enter five digit number'))
print(num//10000%10,' ',num//1000%10,' ',num//100%10,' ',num//10%10,' ',num//1%10)

4   2   3   3   9

## 2.12

In [80]:
p = 1000
r = 0.07
n1 = 10
n2 = 20
n3 = 30
amount_1 = p * (1 + r) ** n1
amount_2 = p * (1 + r) ** n2
amount_3 = p * (1 + r) ** n2
print(f'Money after 10 years of investment: {amount_1:,.2f}')
print(f'Money after 20 years of investment: {amount_2:,.2f}')
print(f'Money after 30 years of inveestment: {amount_3:,.2f}')

Money after 10 years of investment: 1,967.15
Money after 20 years of investment: 3,869.68
Money after 30 years of inveestment: 3,869.68

## 2.14

In [82]:
heart_rate = 220 - 29
target_rate1 = 0.5 * heart_rate
target_rate2 = 0.85 * heart_rate
max_rate = int(input('Enter user"s age'))
user_heart_rate = 220 - max_rate
print("User's maximum heart rate is:", user_heart_rate)
print("Range:", target_rate1, '-', target_rate2)

User's maximum heart rate is: 191
Range: 95.5 - 162.35

## 2.15

In [4]:
number1 = float(input('Enter first integer'))
number2 = float(input('Enter second integer'))
number3 = float(input('Enter third integer'))

nums = (number1, number2, number3)

minimum = number1
if number2 < minimum:
    minimum = number2

if number3 < minimum:
    minimum = number3

print(minimum)   
print(nums)

12.0
(18.0, 12.0, 20.0)

In [5]:
students = ['Alice', 'Bob', 'Cindy']
for student in students:
    print(student)
print('All students are printed')

for item in range(3,10,2):
    print(f'Current item:{item}')
print('Printed all items')

Alice
Bob
Cindy
All students are printed
Current item:3
Current item:5
Current item:7
Current item:9
Printed all items

In [6]:
students = ['Alice', 'Bob', 'Cindy']
print(len(students))

3

In [13]:
students = ['Alice', 'Bob', 'Cindy']

for index in range(len(students)):
    print(f'{index + 1: >5} {students[index]: >20}')

    1                Alice
    2                  Bob
    3                Cindy

In [12]:
Place_Width = 5
Name_Width = 20

students = ['Alice', 'Bob', 'Cindy']
print(f'{"Palce": >{Place_Width}} {"Name": >{Name_Width}}')

print('-' * Place_Width, '-' * Name_Width)
for index in range(len(students)):
    print(f'{index +1: >{Place_Width}} {students[index]: >{Name_Width}}')

Palce                 Name
----- --------------------
    1                Alice
    2                  Bob
    3                Cindy