## 3.1

In [73]:
passed, failed = 0, 0
count = 0
while count < 10:
   result = int(input("Enter a number (1=pass, 2=fail)"))
   if result == 1:
        passed +=1
   elif result == 2:
        failed+=1

   if result in [1,2]:
        count+=1

print (f"Passed: {passed}")
print (f"Failed: {failed}")

Passed: 5
Failed: 5

## 3.2

In [23]:
a = b = 7 
print('a =', a, '\nb = ', b)

a = 7
b =  7

In [29]:
a = b = 7 
print('a =', a,'\n''b =', b)

a = 7
b = 7

## 3.3

In [30]:
for row in range(10):
    for column in range(10):
        print('<' if row % 2 == 1 else '>', end = '')
    print()

>>>>>>>>>>
<<<<<<<<<<
>>>>>>>>>>
<<<<<<<<<<
>>>>>>>>>>
<<<<<<<<<<
>>>>>>>>>>
<<<<<<<<<<
>>>>>>>>>>
<<<<<<<<<<

## 3.4

In [34]:
for row in range(2):
    for column in range(7):
        print('@', end = '')
    print()

@@@@@@@
@@@@@@@

## 3.5

In [217]:
print('Enter two integers, and I will tell youthe relationship they satisfy.')

number1 = int(input('Enter first integer:'))
number2 = int(input('Enter second integer:'))

if number1 > number2:
    print(number1, 'is greater than', number2)
else:
    print(number1, 'is less than number2')

if number1 >= number2:
    print(number1, 'is greater than or equal to number2')
else:
    print(number1, 'is less than or equal to number2')
if number1 == number2:
    print(number1, 'is equal to number2')  
else:
    print(number1, 'is not equal to number2')

Enter two integers, and I will tell youthe relationship they satisfy.
16 is greater than 12
16 is greater than or equal to number2
16 is not equal to number2

## 3.6

In [49]:
question = input('What is your problem?')
question2 = input('Have you had this problem before(Yes or No?')
if question2 == 'yes':
    print('Well, you have it again.')
elif question2 == 'no':
    print('Well, you have it now.')

Well, you have it again.

## 3.7

In [50]:
num_str = 'number'
sqr_str = 'square'
cube_str = 'cube'
print(f'{num_str:>10}{sqr_str:>10}{cube_str:>10}')

for num in range(6):
    print(f'{num:>10}{num ** 2:>10}{num ** 3:>10}')

    number    square      cube
         0         0         0
         1         1         1
         2         4         8
         3         9        27
         4        16        64
         5        25       125

## 3.8

In [56]:
total = 0
average = 0
product = 0
counter = 0
smallest = []


for nums in range(0,4):
    nums = int(input('Enter four integers'))
    total += nums
    counter += 1
    average = total/counter
    smallest.append(nums)
    
    
print(total)
print(average)
print('smallest number is: ', min(smallest))

28
7.0
smallest number is:  4

## 3.9

In [143]:
num = int(input('Enter an integer'))

x=10000
for i in range(1,6):
    quo = num//x
    rem=num%x
    print (f"{int(quo)}", end = ' ')
    x=x/10
    num=rem

4 2 3 3 9

In [45]:
x=10
for digit in str(42339):

4 2 3 3 9

## 3.10

In [38]:
p = 1000
r = 0.07

for year in range(1,31):
    amount = p * (1 + r) ** year
    print(f'{year}{amount:>10.2f}')

print()

1   1070.00
2   1144.90
3   1225.04
4   1310.80
5   1402.55
6   1500.73
7   1605.78
8   1718.19
9   1838.46
10   1967.15
11   2104.85
12   2252.19
13   2409.85
14   2578.53
15   2759.03
16   2952.16
17   3158.82
18   3379.93
19   3616.53
20   3869.68
21   4140.56
22   4430.40
23   4740.53
24   5072.37
25   5427.43
26   5807.35
27   6213.87
28   6648.84
29   7114.26
30   7612.26

## 3.11

In [55]:
SENTINEL = -1
total_gallons = 0.0
total_miles = 0.0
miles_per_gallon = 0.0
total_miles_per_gallon = 0.0

while True:
    gallon = float(input('Enter the gallon used, -1 to exit'))
    if gallon == SENTINEL:
        break
    miles = float(input('Enter the miles driven'))
    miles_per_gallon = miles/gallon
    total_miles += miles
    total_gallons += gallon

    print(f'The mile/gallon for this tank was {miles_per_gallon:.6f}')
print(f'The overall average miles/gallon was {total_miles/total_gallons:.6f}')

The mile/gallon for this tank was 22.421875
The mile/gallon for this tank was 19.417476
The mile/gallon for this tank was 24.000000
The overall average miles/gallon was 21.601423

## 3.16

In [243]:
largest = []

for i in range(5):
    i = int(input('Enter a number'))
    largest.append(i)
print('Largest number is:', max(largest))  
largest.sort()
print (largest)
print (largest[-1])

Largest number is: 5
[1, 2, 3, 4, 5]
5

In [69]:
print('(a)')
for i in range(1,11):
    print(f'{"* " * i:<20}')
print()

print('(b)')
for j in range(1,11):
    p = 11 - j
    print(f'{"* " * p:<20}')
print()

print('(c)')
for k in range(1,11):
    l = 11 - k
    print(f'{"* " * l:>20}')
print()

print('(d)')
for m in range(1,11):
    print(f'{"* " * m:>20}')

(a)
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

(b)
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

(c)
* * * * * * * * * *
  * * * * * * * * *
    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

(d)
                  *
                * *
              * * *
            * * * *
          * * * * *
        * * * * * *
      * * * * * * *
    * * * * * * * *
  * * * * * * * * *
* * * * * * * * * *

## 3.18

In [81]:
print(f'{"(a)":>1}{"(b)":>15}{"(c)":>15}{"(d)":>15}')

for i in range(1,11):
    j = 11-i
    print(f'{"*" * i:<15}{"*" * j:<12}{"*" * j:>12}{"*" * i:>15}')

(a)            (b)            (c)            (d)
*              **********    **********              *
**             *********      *********             **
***            ********        ********            ***
****           *******          *******           ****
*****          ******            ******          *****
******         *****              *****         ******
*******        ****                ****        *******
********       ***                  ***       ********
*********      **                    **      *********
**********     *                      *     **********

## 3.12

In [54]:
num = int(input('Enter a number'))
temp = num
pal = 0
while (num>0):
    dig = num%10
    pal = pal * 10 + dig
    num = num//10
if temp==pal:
    print('The number is palindrome')
else:
    print('Not a palindrome')  
print(dig)
print(pal)
print(num) 
print(temp)

4
93324
0
42339

## 3.19

In [250]:
d = 0
print('Pythagorean Triples!')
for a in range(1,20):
    for b in range(1, a):
        for c in range(1, b):
            if c*c + b*b == a*a:
                print(a, b, c)
                d +=1
                #if (a*b) == (a + b + c):
                    #print('Area is half perimeter for ', a,  b,  c)

Pythagorean Triples!
5 4 3
10 8 6
13 12 5
15 12 9
17 15 8

In [ ]:
# This program draws a design using repeated circles.
import turtle

# Named constants
NUM_CIRCLES = 36    # Number of circles to draw
RADIUS = 100        # Radius of each circle
ANGLE = 10          # Angle to turn
ANIMATION_SPEED = 0 # Animation speed

pen = turtle.Pen()

# Set the animation speed.
pen.speed(ANIMATION_SPEED)

# Draw 36 circles, with the turtle tilted
# by 10 degrees after each circle is drawn.
for x in range(NUM_CIRCLES):
    pen.circle(RADIUS)
    pen.left(ANGLE)

turtle.done()

## 3.20

In [100]:
import math
binary_num = list(input('Enter a binary number'))
decimal_val = 0

for i in range(len(binary_num)):
    digit = binary_num.pop()
    if digit == '1':
        decimal_val += pow(2,i)
print('The dicmal value of the binary number is', decimal_val)   
print(digit)     
print(decimal_val)

The dicmal value of the binary number is 13
1
13

## 3.21

In [180]:
quarter, dime, nickel, penny = 25, 10, 5, 1
q_count, d_count, n_count, p_count = 0, 0, 0, 0

dollor_in_cents = 100
balance = 0

cost_of_purchase = int(input('Enter an amount in cents:'))
print(f'Cost of purcahse is: {cost_of_purchase} cents.')
balance = dollor_in_cents - cost_of_purchase

if not balance:
    print(f'Your change is {balance}')

print(f'Your change is :')
if balance >= 25:
    q_count = balance//quarter
    if q_count != 0:
        print(f'{q_count} quarter(s)') 
    balance %= quarter    

if balance >= 10:
    d_count = balance//dime
    if d_count != 0:
        print(f'{d_count} dime(s)')
    balance %= dime
if balance >= 5:
    n_count = balance//nickel
    if n_count != 0:
        print(f'{n_count} nickel(s)')

if balance >= 0:
    p_count = balance//penny
    if p_count !=0:
        print(f'{p_count} penny')

Cost of purcahse is: 27 cents.
Your change is :
2 quarter(s)
2 dime(s)
3 penny

In [184]:
for i in range(2):
    valu = int(input('Enter an integer (-1 to break):'))
    print('You entered:', value)

    if value == -1:
        break
else:
    print('The loop terminated without executing the break')

You entered: 65
You entered: 65
The loop terminated without executing the break

## 3.28

In [199]:
import statistics

values = [9,11, 22, 34, 17, 22, 34, 22, 40, 34]
print('Mean is:', statistics.mean(values))
print('Median is:', statistics.median(values))
print('Mode is:', statistics.mode(values))
print('Mode(s):', statistics.multimode(values))

Mean is: 24.5
Median is: 22.0
Mode is: 22
Mode(s): [22, 34]

## 3.13

In [207]:
number = int(input('Enter a non negative number:'))

if number < 0:
    print('Please enter a non-negative number.')
else:
    factorial = 1
    
    for i in range(number, 1, -1):
        factorial *= i

    print(f'{number}! is {factorial}')

5! is 120

In [12]:
scores = [80, 90, 100, 60, 77, 59, 92]
total = sum(scores)
average = total / len(scores)
print(f'The total is {total}\nThe average is {average: .2f}\nThe min is {min(scores)}\nThe max is {max(scores)}')

The total is 558
The average is  79.71
The min is 59
The max is 100

In [63]:
total = 0
confirmation = 'yes'

while confirmation == 'yes':
    number = int(input('Please input an integer: '))
    total += number
    confirmation = input('more number? yes to continue, otherwise stop.')
print(f'The total is {total}')

The total is 9

In [67]:
sum = 0
number = 1
while number <= 10:
    sum += number
    number += 1
print(f'The sum from 1 to 10 is: {sum}')

The sum from 1 to 10 is: 55

In [96]:
number = 42339
digits = []

while number>0:
    digits.append(number%10)
    number = (number - number%10)//10

print(digits)

[9, 3, 3, 2, 4]

In [97]:
42339//10

4233

In [99]:
(42339 - 4233)%10

6

In [108]:
x=4-(4/3)+(4/5)()
print (x)

3.466666666666667